body{
    font-family: 'Arial', sans-serif;
}

.container{
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

.inner{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.main-box{
    width: 350px;
}

.mark-box{
    width: 250px;
}

.mark-box-title{
    /* display: none; */
}

.js-mark-list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.js-form{
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    justify-content: center;
}

.js-input{
    margin-right: 20px;
    flex-grow: 1;
}

.js-list{
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    padding-left: 40px; 

}

.js-item{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.js-btn{
    margin-left: auto;
    margin-right: 20px;
}

.js-text{
    margin-left: 10px;
}

.button-box{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.js-mode{
    background-color: blue;
}
